body {
  min-height: 100vh;
  margin: 0;
  background-color: aqua;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#scores,
.sub-headline {
  text-align: center;
  min-height: 5vh;
  line-height: 5vh;
  font-size: 35px;
}

#result {
  text-align: center;
  min-height: 5vh;
  line-height: 5vh;
  font-size: 35px;
  font-weight: bold;
}
#results {
  min-height: 50vh;
  text-align: center;
  font-size: 25px;
  line-height: 3vh;
}

.headline {
  min-height: 10vh;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  min-height: 25vh;
}
